* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(230, 227, 227);
}

.active {
    color: blue;
}

.link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.link:active {
    color: red;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    padding: 10px 40px;
}

.nav-link {
    display: flex;
    gap: 30px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
}

.word {
    width: 97vw;
    padding: 10px;
    background-color: white;
}

input {
    padding: 10px 50px;
}

button {
    cursor: pointer;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: 1px solid gray;
}

@media only screen and (max-width: 400px) {
    .navbar {
        justify-content: center;
        padding: 10px;
    }
    .navbar,
    .nav-link {
        gap: 20px;
    }
    .nav-link {
        gap: 10px;
    }
}